
.mypic
{
  width: 1519px;
  height: 840px;
}
.Cardone
{
  border-radius: 25px;
}
.c1
{
  display: flex;
  position: absolute;
    left: 7rem;
    top: 7rem;
}
.mynav
{
  position: absolute;
    left: 30rem;
    top: 1rem;
}
.mybtn
{
  position: absolute;
    left: 70rem;
    top: 3rem;
}
.textnav
{
  font-family: Verdana, Geneva, Tahoma, sans-serif
  ;
}